body {
    font-family: Montserrat, sans-serif;
    background-color: rgb(250, 250, 250);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4rem;
}

.arrow {
    transform: rotate(-40deg);
    display: inline-block;
}

.header {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.logo {
    width: 4rem;
    height: 4rem;
    /* background: url('../media/logo.png') center no-repeat; */
    background-size: contain;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
}

.navigation-list__item a {
    text-decoration: none;
    color: #555;
    padding: 0 1rem;
}

.navigation-list__item a:hover {
    color: rgb(200, 45, 179);
    cursor: pointer;
}

.call-button,
.hire-button {
    text-decoration: none;
    color: #fff;
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    background-color: rgb(200, 45, 179);
}

.call-button:hover,
.hire-button:hover {
    background-color: rgb(200, 45, 179, 0.8);
}

.about {
    display: flex;
}

.about-text {
    max-width: 30rem;
    font-size: 1rem;
    margin-right: 4rem;
}

.section-title {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 3.6rem;
}

.name {
    color: #555;
}

.subject-english {
    color: rgb(200, 45, 179);
}

.subject-math {
    color: rgb(0, 198, 160);
}

.subject-CS {
    color: rgb(255, 178, 0);
}

.section-description {
    margin-bottom: 2rem;
}

.section-description span {
    font-weight: bold;
}

.about-text__portfolio {
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.portfolio-button {
    margin-left: 1rem;
    text-decoration: none;
    color: rgb(200, 45, 179);
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    background-color: #fff;
    font-weight: bold;
}

.portfolio-button:hover {
    border: none;
    cursor: pointer;
    background-color: rgba(200, 45, 179, 0.3);
}

.social {
    margin-bottom: 4rem;
}

.social-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;

}

.social-list__item a {
    color: #333;
}

.social-list__item a:hover {
    color: #555;
}

.about-bg {
    width: 40rem;
    background-color: rgb(200, 45, 179);
}

#services {
    background-color: rgba(255, 178, 0, 0.5);

}

.services {
    padding: 1px 4rem;
    display: flex;
    padding-bottom: 3rem;
}

.services-title {
    width: 30rem;
    margin-right: 8rem;
}

.services-list {
    margin: 4rem auto 0 auto;

}

.services-list__item {
    display: flex;
    border-top: 4px solid #333;
    padding: 1rem 0;
    width: 35rem;
}

.service-order {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 3rem;
}

.service-name {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.service-explore {
    font-weight: bold;
}

.service-link a {
    margin-top: 8rem;
    color: #fff;
    display: block;
    background-color: rgb(200, 45, 179);
    width: 4rem;
    text-align: center;
    padding: 1rem 0;
    border-radius: 2rem;
    transform: rotate(-40deg);
}

.service-link a:hover {
    background-color: rgba(200, 45, 179, 0.8);
}

.skills-experience {
    padding-left: 4rem;
    display: flex;
    margin-bottom: 4rem;
}

.skills {
    width: 30rem;
    margin-right: 10rem;
}

.skills-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.skills-list {
    display: flex;
    flex-flow: wrap;
}

.skills-list__item {
    width: 10rem;
    margin-bottom: 2rem;
}

.skill-image {
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.skill-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.experience {
    width: 35rem;
}

.experience-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.experience-list__item {
    border-top: 2px solid #000;
    display: flex;
    padding: 2rem 0;
}

.experience-year {
    font-weight: bold;
    margin-top: 0.2rem;
    margin-right: 2rem;
    min-width: 6rem;
}

.experience-position {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    max-width: 20rem;
}

.experience-company {
    color: #555;
    font-weight: bold;
    max-width: 20rem;
}

#projects {
    background-color: rgba(255, 178, 0, 0.5);
}

.projects {
    padding: 1px 4rem;
}

.project-list {
    display: flex;
    justify-content: space-between;
}

.project-list__item {
    border-top: 2px solid #000;
    padding-top: 2rem;
    width: 24rem;
    margin-right: 1rem;
}

.project-list__item:nth-child(2) {
    margin-top: -4rem;
    margin-right: 1rem;
}

.project-list__item:nth-child(3) {
    margin-top: -8rem;
}

.project-info {
    display: flex;
    flex-flow: wrap;
}

.project-name {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.8rem;
    width: 20rem;
}

.project-description {
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
}

.project-link {
    border-radius: 50%;
    background-color: rgb(200, 45, 179);
    height: 4rem;
    width: 4rem;
    text-align: center;
}

.project-link a {
    display: block;
    margin-top: 1rem;
    color: #fff;
    transform: rotate(-40deg);
}

.project-link:hover {
    background-color: rgba(200, 45, 179, 0.8);
}

.project-image {
    height: 15rem;
    background-color: rgba(200, 45, 179, 0.8);
    margin-bottom: 4rem;
}

.testimonals-top {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin-bottom: 2rem;
}

.testimonals-top h1 {
    margin-right: 4rem;
}

.testimonals-top p {
    margin-top: 4rem;
    max-width: 30rem;
}

.testimonals-list {
    margin: 0 auto;
    max-width: 40rem;
}

.testimonals-list__item {
    border-top: 2px solid #000;
    padding: 2rem 5rem;
    margin: 0 auto;
}

.testimonals-comment {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.testimonals-author {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

#contact {
    background-color: rgba(255, 178, 0, 0.5);
}

.contact {
    padding-top: 1px;
}

.contact-links {
    display: flex;
}

.contact-links__left {
    margin-right: 4rem;
    margin-bottom: 4rem;
}

.contact-links__email,
.contact-links__location {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-top: 2px solid #000;
}

.email-img,
.location-img {
    background-color: #fff;
    width: 4rem;
    height: 3rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.email-link a,
.location-address {
    font-weight: bold;
    color: #333;
}

.email-link span,
.location-address span {
    font-size: 1.4rem;
    color: #000;
}

.contact-links__right {
    margin-top: 4rem;
    border-radius: 50%;
    border: 2px solid #000;
    width: 27rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10rem;
}

.contact-links__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    transform: rotate(-20deg);
    margin: 0 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #000;
}

.contact-sayhi {
    font-size: 2.4rem;
    font-weight: bold;
}

.contact-sayhi__button {
    border-radius: 50%;
    background-color: rgb(200, 45, 179);
    width: 6rem;
    height: 4rem;
    padding-top: 2rem;
    transform: rotate(-40deg);
    color: #fff;
}

.contact-links__wrapper:hover {
    transform: rotate(20deg);
    transition: all 2s;
}

.contact-sayhi__button:hover {
    background-color: rgba(200, 45, 179, 0.8);
}

#footer {
    background-color: rgba(255, 178, 0, 0.5);
    padding-top: 4rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000;
    padding: 2rem 0;
    font-weight: bold;
    text-align: center;
}

.footer-link a {
    color: #000;
}

.footer-link a:hover {
    color: #333;
}