body {
    font-family: Montserrat, sans-serif;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.logo {
    width: 4rem;
    height: 4rem;
    /* background: url('../media/logo.png') center no-repeat; */
    background-size: contain;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
}

.navigation-list__item a {
    text-decoration: none;
    color: #555;
    padding: 0 1rem;
}

.navigation-list__item a:hover {
    color: #aaa;
    cursor: pointer;
}

.call-button,
.hire-button {
    text-decoration: none;
    color: #fff;
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    background-color: rgb(200, 45, 179);
}

.call-button:hover,
.hire-button:hover {
    cursor: pointer;
    background-color: rgba(200, 45, 179, 0.5);
}

.about {
    display: flex;
}

.about-text {
    padding: 0 4rem;
    max-width: 30rem;
    font-size: 1rem;
}

.section-title {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 3.6rem;
}

.name {
    color: #555;
}

.subject-english {
    color: rgb(200, 45, 179);
}

.subject-math {
    color: rgb(0, 198, 160);
}

.subject-CS {
    color: rgb(255, 178, 0);
}

.section-description {
    margin-bottom: 2rem;
}

.section-description span {
    font-weight: bold;
}

.about-text__portfolio {
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.portfolio-button {
    margin-left: 1rem;
    text-decoration: none;
    color: rgb(200, 45, 179);
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    background-color: #fff;
    border: 1px solid rgba(200, 45, 179, 0.3);
}

.portfolio-button:hover {
    border: none;
    cursor: pointer;
    background-color: rgba(200, 45, 179, 0.3);
}

.social {
    margin-bottom: 4rem;
}

.social-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;

}

.social-list__item a {
    color: #333;
}

.social-list__item a:hover {
    color: #555;
}

.about-bg {
    width: 40rem;
    background-color: rgb(200, 45, 179);
}

.services {
    background-color: rgba(255, 178, 0, 0.5);
    padding: 1px 4rem;
    display: flex;
    padding-bottom: 3rem;
}

.services-title {
    width: 30rem;
    margin-right: 8rem;
}

.services-list {
    margin: 4rem auto 0 auto;
    
}

.services-list__item {
    display: flex;
    border-top: 4px solid #333;
    padding: 1rem 0;
    width: 35rem;
}

.service-order {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 3rem;
}

.service-name {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.service-explore {
    font-weight: bold; 
}

.service-link a {
    margin-top: 8rem;
    color:#fff;
    display: block;
    background-color: rgb(200, 45, 179);
    width: 4rem;
    text-align: center;
    padding: 1rem 0;
    border-radius: 2rem;
}
.service-link a:hover {
    background-color: rgba(200, 45, 179, 0.5);
}

.skills-experience {
    padding-left: 4rem;
}

.skills {
    width: 30rem;
}

.skills-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.skills-list {
    display: flex;
    flex-flow: wrap;
}

.skills-list__item {
    width: 10rem;
    margin-bottom: 2rem;
}

.skill-image {
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.skill-name {
    font-weight: bold;
}

.experience {
    width: 35rem;
}